/* @font-face {
    font-family: "Pacifico-Regular";
    src: url('../font/Pacifico-Regular.ttf') format('truetype');
} */

/* 英文 */
@font-face {
    font-family: "Pacifico-Regular";
    src: url('../font/CenturyGothic.TTF') format('truetype');
}

/* 时间 */
@font-face {
    font-family: "UnidreamLED";
    src: url('../font/UnidreamLED.ttf') format('truetype');
}

/* 
@font-face {
    font-family: "MiSans";
    src: url('../font/MiSans-Regular.woff') format('woff');
} */

@font-face {
    font-family: "iconfont";
    /* Project id 2831425 */
    src: url('../font/iconfont.woff2') format('woff2'),
        url('../font/iconfont.woff') format('woff'),
        url('../font/iconfont.ttf') format('truetype');
}

/* 整体 */
@font-face {
    font-family: "AliPuhui";
    src: url('../font/xiaWu-webfont.woff2') format('woff2');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-z_shangpinheji:before {
    content: "\e61c";
}

.icon-a-daohangzhiyindingwei-05:before {
    content: "\e634";
}

.icon-volume-x:before {
    content: "\e7cd";
}

.icon-volume-1:before {
    content: "\e752";
}

.icon-volume:before {
    content: "\e6a4";
}

.icon-volume-2:before {
    content: "\e751";
}

.icon-music:before {
    content: "\e892";
}

.icon-next-one:before {
    content: "\e8a8";
}

.icon-next-one-copy:before {
    content: "\e8a9";
}

.icon-pause:before {
    content: "\e733";
}

.icon-play:before {
    content: "\e600";
}

.icon-undo:before {
    content: "\e795";
}

.icon-wrench-fill:before {
    content: "\e86e";
}

.icon-plus:before {
    content: "\e670";
}

.icon-right:before {
    content: "\e6a3";
}

.icon-right-copy:before {
    content: "\ef35";
}

.icon-times:before {
    content: "\e646";
}

.icon-bars:before {
    content: "\ef34";
}

.icon-link:before {
    content: "\e676";
}

.icon-close:before {
    content: "\e646";
}

/* photo */
.icon-photo:before {
    content: "\ebd3";
}

.icon-cloud:before {
    content: "\e61e";
}

.icon-lab:before {
    content: "\e62a";
}

.icon-blog-solid:before {
    content: "\eaf9";
}

.icon-music-list:before {
    content: "\e699";
}

.icon-youxiang:before {
    content: "\e602";
}

.icon-github:before {
    content: "\e718";
}

.icon-QQ:before {
    content: "\e882";
}

.icon-twitter:before {
    content: "\e63d";
}

.icon-github1:before {
    content: "\e685";
}

.icon-telegram:before {
    content: "\e652";
}

.icon-yinhao-copy:before {
    content: "\e883";
}

.icon-yinhao-copy-copy:before {
    content: "\e63c";
}

.icon-tuku:before {
    content: "\e63e";
}

.icon-weizhi:before {
    content: "\e609";
}