@font-face {
  font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_3361576_rtpjv3v1hsa.eot?t=1650987938516');
  /* IE9 */
  src: url('//at.alicdn.com/t/font_3361576_rtpjv3v1hsa.eot?t=1650987938516#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('//at.alicdn.com/t/font_3361576_kqodypffvx.woff2?t=1650987712579') format('woff2'),
    url('//at.alicdn.com/t/font_3361576_kqodypffvx.woff?t=1650987712579') format('woff'),
    url('//at.alicdn.com/t/font_3361576_kqodypffvx.ttf?t=1650987712579') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('//at.alicdn.com/t/font_3361576_rtpjv3v1hsa.svg?t=1650987938516#iconfont') format('svg');
  /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-up:before {
  content: "\e9b3";
}

.icon-ngleup:before {
  content: "\e624";
}

.icon-list:before {
  content: "\e647";
}

.icon-bilibili1:before {
  content: "\e609";
}

.icon-bilibili:before {
  content: "\e62a";
}

.icon-github:before {
  content: "\e62f";
}

.icon-weixin1:before {
  content: "\e608";
}

.icon-email:before {
  content: "\e6f5";
}

.icon-qq:before {
  content: "\e600";
}

.icon-zhihu:before {
  content: "\e606";
}

.icon-music:before {
  content: "\e6ba";
}

.icon-Telegram:before {
  content: "\e6bd";
}

.icon-twitter:before {
  content: "\e601";
}

.icon-huaban88:before {
  content: "\e607";
}

.icon-cnblogs:before {
  content: "\e603";
}

.icon-u___fm__gp_:before {
  content: "\e602";
}